<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="100"
        [showUnits]="false"
        [title]="'HTML'"
        [titleColor]="'blue'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'blue'"
        [animation]="true"
        [animationDuration]="900"
        [lazy]="true"
        [imageSrc]="'../assets/html.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="100"
        [showUnits]="false"
        [title]="'HTML'"
        [titleColor]="'blue'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'blue'"
        [animation]="true"
        [animationDuration]="900"
        [lazy]="true"
        [imageSrc]="'../assets/css.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="100"
        [showUnits]="false"
        [title]="'HTML'"
        [titleColor]="'blue'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'blue'"
        [animation]="true"
        [animationDuration]="900"
        [lazy]="true"
        [imageSrc]="'../assets/js.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="150"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="100"
        [showUnits]="false"
        [title]="'HTML'"
        [titleColor]="'blue'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'blue'"
        [animation]="true"
        [animationDuration]="900"
        [lazy]="true"
        [imageSrc]="'../assets/html.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="100"
        [showUnits]="false"
        [title]="'HTML'"
        [titleColor]="'blue'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'blue'"
        [animation]="true"
        [animationDuration]="900"
        [lazy]="true"
        [imageSrc]="'../assets/html.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="100"
        [showUnits]="false"
        [title]="'HTML'"
        [titleColor]="'blue'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'blue'"    
        [animation]="true"
        [animationDuration]="900"
        [lazy]="true"
        [imageSrc]="'../assets/html.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        ></circle-progress>
    </div>
</div>