<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-12">
        <ul>
            <li>
                <h2>Programador Web Full Stack </h2><h4>(Febrero 2022 - Octubre 2022)</h4>
                <p>Becada por el plan Argentina Programa. Ministerio de Desarrollo e Innovación</p>
                <p>Aprendí a crear páginas web con los lenguajes: HTML, CSS y Javascript. También utilizamos el framework Angular y gestor de base de datos MySQL.</p>
            </li>
            <li>
                <h2>QA Manual </h2><h4>(Junio 2022 - Octubre 2022)</h4>
                <p>Becada por el Ministerio de Industria, Comercio y Empleo de Catamarca. Egg Cooperation. Aval académico de la Facultad Tecnológica Nacional de Tucumán.</p>
                <p>Durante el cursado realicé pruebas manuales, cree plan de pruebas, historias de usuario, casos de prueba, para distintas plataformas. Utilizamos herramientas para gestión de pruebas como TestLink, Trello. Hice practicas de pruebas automatizadas con Postman, Selenium, y Appium. Trabajé en equipo durante las clases. En el examen final aprobe con 100/100.</p>
            </li>
            <li>
                <h2>Marketing Digital y Google Ads </h2><h4>(Junio 2022 - Septiembre 2022)</h4>
                <p>Becada por Google + Junior Achievement. Plan Crecé con Google.</p>
                <p>Aprendí a crear campañas de publicidad en búsqueda y video de Google Ads. También trabajamos en equipo.</p>
            </li>
            <li>
                <h2>Ingenieria de Minas </h2><h4>(2014 - 2020)</h4>
                <p>Facultad de Tecnología y Ciencias Aplicadas. UNCa.</p>
                <p>Llegué a cursar hasta 4to año de la carrera. La pandemia me hizo dar cuenta que no era lo que deseaba ser en la vida y decidí cambiar mi rumbo por lo que realmente me gustaba, el mundo IT.</p>
            </li>
        </ul>
    </div>
</div>