    <div class="row">
        <div class="container">
            <div class="logo">
                <img src="../../../assets/Logo_ArgentinaPrograma.png" id="logoAP">
            </div>
            <div class="redes">
                    <a href="https://www.linkedin.com/in/taniaquiroga/"><img src="../../../assets/Logo_Linkedin.png" id="Linkedin"></a>
                    <a href="https://github.com/TaniQuiroga"><img src="../../../assets/Logo_GitHub.png" id="GitHub"></a>
                    <a href=""><img src="../../../assets/Logo_Facebook.png" id="Facebook"></a>
                    <a href=""><img src="../../../assets/Logo_Instagram.png" id="Instagram"></a>
                    <a href=""><img src="../../../assets/Logo_Twitter.png" id="Twitter"></a>
                    <button type="button" class="btn btn-outline-dark" (click)="login()" *ngIf="!isLogged">Ingresar</button>
                    <button type="button" class="btn btn-outline-dark" (click)="onLogOut()" *ngIf="isLogged">Cerrar sesión</button>
            </div>
        </div>
    </div>