.row{
    padding: 50px;
    background-color: cornflowerblue;
}

.container{
    width: auto;
}

.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}

div{
    float: left;
}

.img-proyecto{
    box-shadow: 10px 10px 30px black;
}