<div class="row">
    <p><br></p>
    <h1>Experiencia laboral</h1>
    <div class="col-lg-12">
        <ul>
            <li>
                <h2>Community Manager </h2><h4>(2018-Actual)</h4>
                <p>Me encargo del engagement y fortalecer la presencia de la marca en FB & IG, planificando contenido gráfico de redacción, y analizando métricas en Business manager. Atención al cliente personalizada</p>
            </li>
            <li>
                <h2>Pastelera </h2><h4>(2016-Actual)</h4>
                <p>Armado y decorado de tortas personalizadas. Realización de postres, mesas dulces.</p>
            </li>
        </ul>
    </div>
</div>