<div class="row">
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
        <img src="../../../assets/Foto_perfil.jpg" class="img-fluid" id="fotoperfil">
        <p id="nombre">Quiroga Veron, Tania Rocio</p>
        <p id="profesion">Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <span>
            <h1>Acerca de mí 👀</h1>
            <p>Soy estudiante, autodidacta y emprendedora. Una persona amable, responsable, muy curiosa y siempre positiva. ¡Tengo muchas ganas de triunfar en la vida!</p>
            <p>En mi emprendimiento soy mi propio Community Manager y creadora de contenido, es algo que me gusta muchísimo. Poder aplicar mis conocimientos, gracias a la formación que voy desarrollando con cursos, es algo satisfactorio. En el cual voy adquiriendo experiencia y responsabilidades.</p>
            <p>Como futura programadora 💻, tengo conocimientos en lenguajes front-end cómo HTML5, CSS y Javascript. Estoy aprendiendo el framework Angular y base de datos MySQL. También estoy realizando mi primer proyecto que es mi portfolio web.</p>
            <p>Y como futura tester 🔎, sé armar casos de prueba, historias de usuario, ejecución de las pruebas de forma manual. Estoy aprendiendo a trabajar con las herramientas de gestión de prueba como Trello, Jira, TestLink.</p>
            <p>📚 Estoy interesada en seguir formandome para construir en el mundo digital.</p>
        </span>
    </div>
</div>
